.grid {
    display: flex;
    flex-wrap: wrap;
    height: 400px;      /*this can change. let's say, each image is 100px wide*/
    width: 800px;
}

img {
    width: 150px;
    height: 150px;
    margin: 1px;
}

body{
    background-color: blanchedalmond;
}