.background {

}

.grid {
    height: 450px;      /*this can change. let's say, each image is 100px wide*/
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    margin: auto;
    padding: 30px;
}
.pair_metric{
    font-size: 30px;
}

img {
    width: 150px;
    height: 150px;
    margin: 0px;

}

body{
    background-color: white;
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp2347583.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.reset{
    background-color:rgb(230, 7, 7);
    color: aliceblue;
    margin: 20px 0 0 0;
    width: 50px;
    height: 50px;
}
button{
    box-shadow: 3px 5px 0 rgba(0,0,0,0.3),3px 5px 0 var(--color-bar, #ff3333),8px 7px 0 2px rgba(0,0,0,0.24);
    border-radius: 50%;
}