.container {
    border: 1px solid black;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .row1 {
        display: flex;
    }
    .row2 {
        display: flex;
    }
    .row3 {
        display: flex;
    }
    .row4 {
        display: flex;
    }
    